<a href="https://colab.research.google.com/github/tiwariamee/Machine-Learning/blob/master/ListSyntaxExamples.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
# The list is the most versatile datatype available in Python, which can be written as a list of comma-separated values (items) between square brackets.
# Important thing about a list is that the items in a list need not be of the same type.
#Accessing Values in Lists 
#Syntax list(a[startingindext:endingindex])
a = [1, 5, 10, 12, 43, 12]
print(a[1:])
print(a[:2])
print(a[-1])
print(a[:-4])
print(a[-3:])
print(a[2:4])

[5, 10, 12, 43, 12]
[1, 5]
12
[1, 5]
[12, 43, 12]
[10, 12]

In [0]:
# Declaring a list
L = [1, "a", "string", 1 + 2]
print(L)

[1, 'a', 'string', 3]

In [0]:
# add 6 to the above list
L.append(6)
print(L)

[1, 'a', 'string', 6, 6]

In [0]:
# pop deletes the last element of the list
L.pop()
print(L)

[1, 'a']

In [0]:
# Adds List Element as value of List.
List = ['Mathematics', 'chemistry', 1997, 2000, 20544]
List.append(20544) 
print(List)

['Mathematics', 'chemistry', 1997, 2000, 20544, 20544]

In [0]:
# Insert List Element as value of List.
List.insert(2, 10087)
print(List)

['Mathematics', 'chemistry', 10087, 10087, 10087, 1997, 2000, 20544, 20544]

In [0]:
# extend(): Adds contents to List2 to the end of List1.
List1 = [1, 2, 3]
List2 = [2, 3, 4, 5]

# Add List2 to List1
List1.extend(List2)
print(List1)

# Add List1 to List2 now
List2.extend(List1)
print(List2)

[1, 2, 3, 2, 3, 4, 5]
[2, 3, 4, 5, 1, 2, 3, 2, 3, 4, 5]

In [0]:
List = [1, 2, 3, 4, 5]
print(sum(List))

15

In [0]:
# count():Calculates total occurrence of given element of List.
# Syntax List.count(element)
List = [1, 2, 3, 1, 2, 1, 2, 3, 2, 1]
print(List.count(1))

4

In [0]:
# length:Calculates total length of List.
# Syntax len(list_name)
List = [1, 2, 3, 1, 2, 1, 2, 3, 2, 1]
print(len(List))

10

In [0]:
# index(): Returns the index of first occurrence. Start and End index are not necessary parameters.
# SYNTAX List.index(element[,start[,end]])
List = [1, 2, 3, 1, 2, 1, 2, 3, 2, 1]
print(List.index(2))

List2 = [1, 2, 3, 1, 2, 1, 2, 3, 2, 1]
print(List2.index(2, 2))

List3 = [1, 2, 3, 1, 2, 1, 2, 3, 2, 1]
# will check from index 2 to 3.
print(List3.index(2, 1, 4))

1
4
1

In [0]:
#min() : Calculates minimum of all the elements of List.
List = [2.3, 4.445, 3, 5.33, 1.054, 2.5]
print(min(List))

1.054

In [0]:
#max(): Calculates maximum of all the elements of List.
List = [2.3, 4.445, 3, 5.33, 1.054, 2.5]
print(max(List))

5.33

In [0]:
#reverse(): Sort the given data structure (both tuple and list) in ascending order. Key and reverse_flag are not necessary parameter and reverse_flag is set to False, if nothing is passed through sorted().
#Syntax sorted([list[,key[,Reverse_Flag]]])
#list.sort([key,[Reverse_flag]])
List = [2.3, 4.445, 3, 5.33, 1.054, 2.5]
List.sort(reverse=True)
print(List)
List.sort(reverse=False)
print(List)

[5.33, 4.445, 3, 2.5, 2.3, 1.054]
[1.054, 2.3, 2.5, 3, 4.445, 5.33]

In [0]:
List = [2.3, 4.445, 3, 5.33, 1.054, 2.5]
print(sorted(List))

[1.054, 2.3, 2.5, 3, 4.445, 5.33]

In [0]:
#To Delete one or more elements, i.e. remove an element, many built in functions can be used, such as pop() & remove() 
# and keywords such as del.
#syntax  list.pop([index])
List = [2.3, 4.445, 3, 5.33, 1.054, 2.5]
print(List.pop(1))
List

4.445

[2.3, 3, 5.33, 1.054, 2.5]

In [0]:
#remove(): Element to be deleted is mentioned using list name and element.
#syntax list.remove(element)
List = [2.3, 4.445, 3, 5.33, 1.054, 2.5]
List.remove(3)
print(List)

[2.3, 4.445, 5.33, 1.054, 2.5]

In [0]:
#"in" operator:- This operator is used to check if an element is present in the list or not. Returns true if element is present in list else returns false.
#2"not in" operator:- This operator is used to check if an element is not present in the list or not. Returns true if element is not present in list else returns false.
lis = [1, 4, 3, 2, 5]
# checking if 4 is in list using "in"
if 4 in lis:
    print("List is having element with value 4")
else:
    print("List is not having element with value 4")

# checking if 4 is not list using "not in"
if 10 not in lis:
    print("List is not having element with value 10")
else:
    print("List is having element with value 10")

List is having element with value 4
List is not having element with value 10